* {
    box-sizing: border-box;
}

html {
    font-family: Inter-Regular, sans-serif;
}

body {    
    margin: 0;
    height: 100vh;

    font-size: 1rem;
    line-height: 1.25;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;

    cursor: pointer;
}

:is(h1, h2, h3, h4, h5, h6) {
    margin: 0 0 1em;
}

ul {
    height: 100%;
    margin: 0;
    padding: 0;
    
    list-style-type: none;
}

button, .btn {
    width: max-content;
    
    border: none;
    background-color: transparent;
    
    font-size: larger;
    color: black;
    
    cursor: pointer;
}

[class^="fa-"], [class*=" fa-"] {
    height: 100%;
    /* font-size: 1.5rem !important; */
}