* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
  
    background-color: var(--clr-bg-base);

    font-family: Inter-Regular, sans-serif;
    color: var(--clr-txt);
}

a {
  text-decoration: none;
  color: var(--clr-txt);
}

img {
    display: block;
    width: 100%;

    cursor: pointer;
}

:is(h1, h2, h3, h4, h5, h6) {
    margin: 0 0 1em;
}

ul {
    height: 100%;
    margin: 0;
    padding: 0;
    
    list-style-type: none;
}

button, .btn {
    width: max-content;
    
    border: none;
    padding: 0;
    background-color: transparent;
    
    font-size: larger;
    color: black;
    
    cursor: pointer;
}

[class^="fa-"],
[class*=" fa-"] {
    height: 100%;
}