/* grid helpers */
.grid { 
    display: grid;
}

.grid.grid-column {
    grid-auto-flow: column;
}

/* Flex helpers */
.flex { 
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* Display helpers */
.editor.hide,
.gallery.hide {
    display: none;
}