.main-layout {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 95%) minmax(1rem, 1fr);
}

.app.main-layout {
    grid-template-rows: auto 1fr;
}

.main-layout > * {
    grid-column: 2;
}

.main-layout > *.full {
    grid-column: 1 / -1;
}

.main-layout.align-center {
    align-items: center;
}

.main-content-container {
    grid-row: 2;
    min-height: 0;
}