.filter-section {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 300px max-content 1fr minmax(200px, 400px) max-content;
    align-items: center;
    gap: var(--options-gap);

    margin-block: 1em;
}

.search-bar {
    height: 2.5em;

    border: 1px solid var(--clr-border);
    border-radius: var(--radius-small);
    padding: 0.65625em 0.875em;
    background-color: var(--clr-bg-surface);

    color: var(--clr-txt);

    transition: border-color var(--transition-duration), color var(--transition-duration);
}

.search-bar:hover,
.search-bar:focus {
    border-color: var(--clr-accent);

    color: var(--clr-accent);
    outline: none;
}

.search-bar-reset {
    color: var(--clr-txt-muted);

    transition: color var(--transition-duration);
}

.search-bar-reset:hover,
.search-bar-reset:active {
    color: var(--clr-danger);
}

.tags-container {
    grid-column: 4;
    overflow: hidden;

    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: var(--options-gap);

    text-align: center;
}

.tags-container > a,
.tags-expanded > a  {
    white-space: nowrap;
    user-select: none;

    padding: .3125em .75em;

    border-radius: var(--radius);
    border: 1px solid var(--clr-border);
    background-color: var(--clr-bg-elevated);

    transition:
        border-color var(--transition-duration),
        color var(--transition-duration);
}

.tag:hover,
.tag-selected {
    border-color: var(--clr-accent);

    color: var(--clr-accent);
}

.tag-selected {
    box-shadow: 0 0 0 1px var(--clr-accent);
}

.tags-container > a.tag-selected {
    font-weight: bold;
}

.expand, .filter-btn {
    grid-column: 5;

    padding: .7em 1em;
    border-radius: var(--radius-small);
    border: 1px solid var(--clr-border);
    background-color: var(--clr-bg-surface);

    font-size: .8em;
    color: var(--clr-txt);

    transition:
        border-color var(--transition-duration),
        color var(--transition-duration);
}

.expand:hover,
.filter-btn:hover,
.gallery:has(.tags-expanded.open) .expand,
.gallery:has(.tags-expanded.open) .filter-btn {
    border-color: var(--clr-accent);

    color: var(--clr-accent);
}

.expand.hide {
    display: none;
}

.tags-expanded {
    display: none;
    flex-wrap: wrap;
    gap: var(--options-gap);

    margin-bottom: var(--margin);
    padding: var(--margin);

    border-radius: var(--radius-small);
    background-color: var(--clr-bg-surface);

    text-align: center;
}

.tags-expanded.open {
    display: flex;
}

.tags-expanded > a.tag-selected {
    font-size: 1.3em;
    font-weight: bold;
}

.filter-btn {
    display: none;
    justify-self: end;
}
