.filter-section {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 300px max-content 1fr minmax(200px, 400px) max-content;
    gap: var(--options-gap);

    margin-block: var(--margin);
}

.search-bar {
    border-radius: 10px;
}

.tags-container {
    grid-column: 4;
    overflow: hidden;

    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: var(--options-gap);

    text-align: center;
}

.tags-container > a {
    white-space: nowrap;
    user-select: none;
}

.tags-container > a.tag-selected {
    font-size: 1.3em;
    font-weight: bold;
}

.expand {
    grid-column: 5;
}

.expand.hide {
    display: none;
}

.tags-expanded {
    display: none;
    flex-wrap: wrap;
    gap: var(--options-gap);

    margin-bottom: var(--margin);
    padding: var(--margin);

    border-radius: 10px;
    background-color: #f0f0f0;

    text-align: center;
}

.tags-expanded.open {
    display: flex;
}

.tags-expanded > a.tag-selected {
    font-size: 1.3em;
    font-weight: bold;
}

.filter-btn {
    display: none;
    justify-self: end;
}