.main-nav {
    justify-self: end;
}

.main-nav, .main-nav * {
    height: 100%;
}

.main-nav > ul {
    grid-auto-flow: column;
    align-items: center;
}

.main-nav > ul a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    padding-inline: 1em;

    transition: color var(--transition-duration);
}

.main-nav > ul > li:last-child a {
    padding-inline-end: 0;
}

.main-nav > ul > li > a {
    position: relative;
}

.main-nav > ul > li > a:hover,
.main-nav > ul > li > a.nav-active {
    color: var(--clr-accent);
}

.main-nav > ul > li > a.nav-active::after {
    content: '';

    position: absolute;
    bottom: 0;
    inset-inline: 1em;
    
    height: 2px;
    
    border-radius: 1px;
    background-color: var(--clr-accent);
}

.main-nav > ul > li:last-child > a.nav-active::after {
    inset-inline-end: 0;
}

.main-screen {
    opacity: 0;
    pointer-events: none;
}

.main-screen.open {
    opacity: 1;
    pointer-events: auto;
}

.nav-btn {
    display: none;
    justify-self: end;
    width: max-content;
    border: none;
    background-color: transparent;
    font-size: larger;
    color: var(--clr-txt);
    cursor: pointer;

    transition: color var(--transition-duration);
}

.nav-btn:hover,
.main-nav.open ~ .nav-btn {
    color: var(--clr-accent);
}